include:
  - service-compose/fcp-sfd-messaging-gateway.yaml
  - service-compose/fcp-sfd-frontend.yaml
  - service-compose/fcp-sfd-data.yaml
  - service-compose/fcp-sfd-comms.yaml
services:
  localstack:
    image: localstack/localstack:3.0.2
    ports:
      - 4566:4566
      - 4510-4559:4510-4559
    env_file:
      - .env
    environment:
      DEBUG: ${DEBUG:-1}
      LS_LOG: WARN
      SERVICES: s3,sqs,sns,firehose
      LOCALSTACK_HOST: 127.0.0.1
    volumes:
      - ${TMPDIR:-/tmp}/localstack:/var/lib/localstack
      - ../fcp-sfd-data/compose/start-localstack.sh:/etc/localstack/init/ready.d/setup-fcp-sfd-data.sh
      - ../fcp-sfd-comms/compose/start-localstack.sh:/etc/localstack/init/ready.d/setup-fcp-sfd-comms.sh
      - ../fcp-sfd-frontend/compose/start-localstack.sh:/etc/localstack/init/ready.d/setup-fcp-sfd-frontend.sh
      - ../fcp-sfd-messaging-gateway/compose/start-localstack.sh:/etc/localstack/init/ready.d/setup-fcp-sfd-messaging-gateway.sh
    healthcheck:
      test:
        - CMD
        - curl
        - localhost:4566
      interval: 5s
      start_period: 5s
      retries: 3
    networks:
      - fcp-sfd
  mongodb:
    image: mongo:6.0.13
    networks:
      - fcp-sfd
    ports:
      - 27017:27017
    volumes:
      - mongodb-data:/data
    restart: always
  redis:
    image: redis:7.2.3-alpine3.18
    ports:
      - 6379:6379
    restart: always
    networks:
      - fcp-sfd
volumes:
  mongodb-data:
networks:
  fcp-sfd:
    name: fcp-sfd
    driver: bridge
